*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  yellow;
}

@media  (min-width:600px) { 
     h1 {
        font-family: Comic 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        transition: ease-in;
        transition-duration: 3s;
        box-shadow: 2px 4px 20px black ;
     }
}


.main_box{
    background-image:url(photo.jpg);
    height:100vh;
    background-size: cover;
}

.btn_one i {
    color:white;
    font-size:30px;
    font-weight:700;
    position:absolute;
    left: 16px;
    line-height:60px;
    cursor: pointer;
}

.sidebar_menu {
position: fixed;
left: -300px;
height: 100vh;
width: 300px;
background-color: rgba(255, 255, 255,0.1);
box-shadow:0px 0px 6px rgba(255, 255, 255,0.1);
transition:all 0.3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width:100%;
    line-height: 60px;
    box-shadow:0px 3px 6px rgba(255, 255, 255,0.1);
    height:60px;
}
.sidebar_menu .logo a {
    position: absolute;
    color:white;
    left: 70px;
    text-decoration:none;
    font-size:20px;
    font-weight:500;
}

.sidebar_menu .btn_two i {
    color:gray;
    font-size:25px;
    left:275px;
    line-height:60px;
    position: absolute;
    opacity:0;
    cursor: pointer;
}

.sidebar_menu .menu {
    position: absolute;
    width:100%;
    top:80px;
}

.sidebar_menu .menu li {
    margin: top 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i,a {
    color:white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 25%;
    bottom:50px;
}

.sidebar_menu .social_media i {
    color: white;
    opacity:0.5;
    padding: 0 5px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
  box-shadow:0px 0px 6px rgba(255, 255, 255,0.1);
}

.btn_one i:hover {
    font-size:40px;
}

.btn_two i:hover {
    font-size:30px;
}

.sidebar_menu .social_media i:hover{
    opacity:1;
    transform: scale(1.5);
    transition:ease-in-out;
    box-shadow:2ps 4px 20px whitesmoke;
}

#check:checked ~ .sidebar_menu{
left:0;
}

#check:checked ~ .btn_one i {
  opacity:0;
}
#check:checked ~ .sidebar_menu .btn_two i {
  opacity:1;
}